<%- include('partials/header.ejs') %>
<div class="container">
        <h1>Welcome to Mars</h1>
        
        <img src="/img/mars.jpg" alt="Mars" />
        
        <p class="mt-2">
            Mars is the fourth planet from the sun and also the second smallest planet in our Solar System. It is named after
            the God of war. It has a terrestrial makeup as well as a thin atmoshpere. It has features on its surface similar
            to the impact craters that are found on the moon. It is home to the great Olympus Mons, which is both the largest
            Volcano and highest known mountain anywhere in our Solar System.
        </p>
</div>
<%- include('partials/footer.ejs') %>