<%- include('partials/header.ejs') %>
<div class="container">
        <h1>Welcome to Venus</h1>
        
        <img src="/img/venus.jpg" alt="Venus" />
        
        <p class="mt-2">
           Venus is the second planet in our Solar System and it is named after the Roman Goddess. It is the second-brightest
           natural object in the sky and can occasionally be seen during the day on Earth. Venus has a rotation period of
           243 Earth days. It is often called Earth's sister due to similarities in size and distance to the sun. However, despite
           these similarities, there are other radical differences to Earth, such as Venus' incredible average surface temperature,
           which is the hottest in the Solar System.
        </p>
</div>
<%- include('partials/footer.ejs') %>